doctype html
html
    head
        title Passage Word Replacement
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        link(rel="stylesheet", href="css/feedback.css")
        script(type="text/javascript", src="js/feedback.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .container
            .jumbotron
                h1.title Passage Word Replacement

            .panel.panel-primary
                .panel-heading
                    h2 Mechanics
                .panel-body.item(data-type="passage-replace", data-id="1", data-allowed="3")
                    .question
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper est at commodo feugiat. Aliquam scelerisque dictum hendrerit. Donec nec dictum enim. Vivamus finibus ligula non aliquam consequat. Morbi vitae tortor ac est vestibulum cursus. Nunc eu sapien tincidunt, venenatis velit auctor, hendrerit urna. Aenean iaculis fermentum mi. Maecenas eu laoreet nibh. Duis ornare fringilla diam, non scelerisque est egestas eu. Nulla elementum ultricies dui, non efficitur velit consequat non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                        p Nullam elementum eu augue non pharetra. Vivamus lacinia velit justo, sit amet venenatis eros commodo a. Quisque tellus sapien, placerat et metus at, vestibulum aliquet enim. Duis pulvinar odio et quam pulvinar euismod. Integer aliquet non nisi ac interdum. Mauris vulputate purus sit amet nunc luctus, vitae eleifend magna gravida. Phasellus cursus odio id commodo rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque aliquam, urna in congue luctus, quam sem dapibus lectus, a auctor lorem neque ac orci. Mauris maximus non odio pretium hendrerit. Maecenas ut consectetur diam. Nunc ut urna in nibh efficitur euismod in malesuada tortor. Sed ipsum neque, mollis pretium quam quis, euismod tempor sem.

                    .actions.text-right
                        button.btn.btn-default.check Check Answer

            .panel.panel-default
                .panel-heading
                    h2 HTML Block
                .panel-body
                    pre
                        = '<div '
                        strong= 'data-type="passage-replace"'
                        = " "
                        strong= 'data-id="(id)"'
                        = " "
                        strong= 'data-allowed="(allowed)"'
                        = ">"
                        br
                        = "    <div "
                        strong= 'class="question"'
                        = ">"
                        br
                        strong= "        (question)"
                        br
                        = "    </div>"
                        br
                        = '    <button|a '
                        strong= 'class="check"'
                        = ">Check Answer</button|a>"
                        br
                        = "</div>"

            .panel.panel-default
                .panel-heading
                    h2 Transformed Question Block Sample
                .panel-body
                    h3 Before
                    pre
                        = '<div class="question">'
                        br
                        = '    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>'
                        br
                        = '</div>'

                    h3 After
                    pre
                        = '<div class="question">'
                        br
                        = '    <p>'
                        br
                        = '        <span class="word">Lorem</span>'
                        br
                        = '        <span class="word">ipsum</span>'
                        br
                        = '        <span class="word">dolor</span>'
                        br
                        = '        <span class="word">sit</span>'
                        br
                        = '        <span class="word">amet</span>'
                        br
                        = '        <span>,</span>'
                        br
                        = '        <span class="word">consectetur</span>'
                        br
                        = '        <span class="word">adipiscing</span>'
                        br
                        = '        <span class="word">elit</span>'
                        br
                        = '        <span>.</span>'
                        br
                        = '    </p>'
                        br
                        = '</div>'

                    h3 Selected
                    pre
                        = '<div class="question">'
                        br
                        = '    <p>'
                        br
                        = '        <span class="word replacing">'
                        br
                        = '            <input type="text" />'
                        br
                        = '            <span class="close">&times;</span>'
                        br
                        = '        </span>'
                        br
                        = '        <span class="word">ipsum</span>'
                        br
                        = '        <span class="word">dolor</span>'
                        br
                        = '        <span class="word">sit</span>'
                        br
                        = '        <span class="word">amet</span>'
                        br
                        = '        <span>,</span>'
                        br
                        = '        <span class="word">consectetur</span>'
                        br
                        = '        <span class="word">adipiscing</span>'
                        br
                        = '        <span class="word">elit</span>'
                        br
                        = '        <span>.</span>'
                        br
                        = '    </p>'
                        br
                        = '</div>'

            .panel.panel-default
                .panel-heading
                    h2 CSS Classes
                .panel-body
                    h3 Question Block .question
                    pre= '<div class="question"></div>'

                    h3 Word Block .question p .word
                    pre= '<span class="word">Lorem</span>'

                    h3 Word Block .question p .word.hover
                    pre= '<span class="word hover">Lorem</span>'
                    p.help-block Hover is controlled through JS by adding .hover instead of CSS :hover because "allowed" checking is imposed.

                    h3 Word Block .question p .word.replacing
                    pre
                        = '<span class="word replacing">'
                        br
                        = '    <input type="text" />'
                        br
                        = '    <span class="close">&times;</span>'
                        br
                        = '</span>'
                    p.help-block JS will add width and height to the .word block by referencing the w/h before converting it to input field to ensure w/h consistency.

                    h3 Word Block Input - Correct .question p .word input.correct
                    pre= '<input type="text" class="correct" />'

                    h3 Word Block Input - Wrong .question p .word input.wrong
                    pre= '<input type="text" class="wrong" />'

                    h3 Word Block Close Button .question p .word .close
                    pre= '<span class="close">&times;</span>'

                    h3 Check Answer .check
                    pre= '<button|a class="check">Check Answer</button|a>'

            .panel.panel-default
                .panel-heading
                    h2 Question Input
                .panel-body
                    pre
                        = "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
                        br
                        = "<p>Nullam elementum eu augue non pharetra. Vivamus lacinia velit justo, sit amet venenatis eros commodo a.</p>"

            .panel.panel-default
                .panel-heading
                    h2 Answers Database
                .panel-body
                    table.table.table-striped.table-condensed
                        thead
                            tr
                                th id
                                th questionid
                                th answerindex
                                th original
                                th answer
                        tbody
                            tr
                                td 1
                                td 1
                                td 0
                                td dolor
                                td apple
                            tr
                                td 2
                                td 1
                                td 1
                                td Nullam
                                td Boy
                            tr
                                td 3
                                td 1
                                td 2
                                td lacinia
                                td cat

            .panel.panel-warning
                .panel-heading
                    h2 To Do
                .panel-body#feedback(data-identifier="passage-word-replacement")